<div class="w-20 flex-none flex flex-col min-h-screen h-screen bg-primary-black px-2 py-2">
  <div class="overflow-y-auto scrollbar-hide">
    <ul class="flex flex-col justify-center items-center pt-2" id="room-list">
      <li class="flex justify-center items-center">
        <a href="#" class=""><img src="/assets/images/logo.png" alt="" class="w-8 h-auto"></a>
      </li>
      <li class="border-b border-primary-gray h-.5 w-2/3 my-3">
      </li>
      <li class="flex justify-center items-center my-3" id="add-room">
        <button class="" onclick=""><img src="/assets/images/logo.png" alt="" class="w-8 h-auto">
        </button>
      </li>
    </ul>
  </div>
</div>
