<div class="bg-secondary-black w-56 flex-none h-full px-3 py-3 overflow-y-auto scrollbar-hide">
  <h3 class="uppercase tracking-wide font-semibold text-xs text-accent-gray mb-2">online-264</h3>
  <ul class="mb-6">
    <li class="text-gray-500 px-2 hover:text-accent-gray hover:text-accent-gray hover:bg-primary-gray rounded-md py-1 my-2 text-sm">
      <a href="" class="flex items-center">
        <img src="/assets/images/logo.png" alt="" class="w-auto h-6 rounded-full"><span class="ml-2">teneshvignesan</span>
      </a>
    </li>
  </ul>
</div>
