<div class="flex h-screen overflow-y-hidden bg-gray-800 text-white">
  <div class="w-[44rem] flex flex-col min-h-screen justify-center items-center">
    <img src="./assets/images/logo.png" alt="" class="w-36 h-36 object-cover">
    <h1 class="text-6xl font-semibold">Chatty</h1>
    <h2 class="text-xl italic pt-8">Just connect everywhere</h2>
    <div class="flex justify-between p-2 space-x-2 text-sm">
      <div class="">
        <img src="" alt="">
        <p class="">750 Online</p>
      </div>
      <div class="">
        <img src="" alt="">
        <p class="">1,500 Members</p>
      </div>
    </div>
    <div class="w-full mt-12 px-44">
      <form action="" class="flex flex-col text-sm">
        <input type="text" placeholder="Username" class="block border-b border-gray-400 bg-transparent w-full p-3 mb-4 text-white placeholder-white">
        <input type="email" placeholder="Email" class="block border-b border-gray-400 bg-transparent w-full p-3 mb-4 text-white placeholder-white">
        <input type="password" placeholder="Password" class="block border-b border-gray-400 bg-transparent p-3 mb-4 text-white placeholder-white">
        <input type="password" placeholder="Confirm Password"
               class="block border-b border-gray-400 bg-transparent w-full p-3 mb-4 text-white placeholder-white">
        <button class="text-center py-3 rounded bg-blue-500 my-1">Create Account</button>
      </form>
      <p class="text-grey-dark mt-6 text-center italic text-sm">Already have an account?
        <a class="text-blue-400" href="">Login</a>
      </p>
    </div>
  </div>
  <div class="flex flex-1 min-h-screen">
    <img src="./assets/images/signup-page.png" alt="" class="w-full h-full object-cover object-right-bottom">
  </div>
</div>
