<div class="flex flex-col pb-8 border-b border-b-secondary-gray">
  <h1 class="text-xl font-semibold">My Account</h1>
  <div class="mt-4">
    <div class="bg-accent-gray h-20 rounded-t-md"></div>
    <div class="bg-primary-black rounded-b-md px-8 pt-4 space-y-4 pb-6">
      <div class="flex items-center pt-4 pb-6">
        <div class="relative">
          <img src="/assets/images/logo.png" alt="" class="w-24 h-auto rounded-full object-cover object-top">
          <span class="">
            <svg *ngIf="user.status.mode === 'Online'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 class="absolute bottom-0 right-0 inline-block w-7 h-7 transform translate-y-1/4 fill-green-500 rounded-full border-6 border-secondary-black bg-secondary-black"
                 viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/>
            </svg>
            <svg *ngIf="user.status.mode === 'Do Not Disturb'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 class="absolute bottom-0 right-0 inline-block w-7 h-7 transform translate-y-1/4 fill-red-500 rounded-full border-6 border-secondary-black bg-secondary-black"
                 viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/>
            </svg>
            <svg *ngIf="user.status.mode === 'Idle'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 class="absolute bottom-0 right-0 inline-block w-7 h-7 transform translate-y-1/4 fill-yellow-500 rounded-full border-6 border-secondary-black bg-secondary-black"
                 viewBox="0 0 16 16">
              <path
                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
            </svg>
            <svg *ngIf="user.status.mode === 'Offline' ||user.status.mode === 'Invisible'"
                 xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 class="absolute bottom-0 right-0 inline-block w-7 h-7 transform translate-y-1/4 fill-gray-500 rounded-full border-6 border-secondary-black bg-secondary-black"
                 viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/>
            </svg>
          </span>
        </div>
        <div class="ml-8 flex-1 flex flex-col">
          <h1 class="text-3xl font-semibold">{{user.username}}</h1>
          <p class="text-accent-gray text-sm">{{user.status.tagline}}</p>
          <div class="flex justify-between">
            <p class="text-sm pt-2">{{user.description}}</p>
            <div class="">
              <button
                class="rounded bg-secondary-gray py-2 px-4 text-xs hover:bg-accent-gray transition duration-300 ease-in-out">
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="w-3/4">
          <h1 class="font-semibold text-xs">USERNAME</h1>
          <h1 class="">{{user.username}}</h1>
        </div>
        <div class="">
          <button
            class="rounded bg-secondary-gray py-2 px-4 text-xs hover:bg-accent-gray transition duration-300 ease-in-out"
            (click)="openEditUsernameModal()">
            Edit
          </button>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="w-3/4">
          <h1 class="font-semibold text-xs">EMAIL</h1>
          <h1 class="">{{user.email}}</h1>
        </div>
        <div class="">
          <button
            class="rounded bg-secondary-gray py-2 px-4 text-xs hover:bg-accent-gray transition duration-300 ease-in-out"
            (click)="openEditEmailModal()">
            Edit
          </button>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="w-3/4">
          <h1 class="font-semibold text-xs">PHONE NUMBER</h1>
          <h1 class="">{{user.phoneNumber}}</h1>
        </div>
        <div class="">
          <button
            class="rounded bg-secondary-gray py-2 px-4 text-xs hover:bg-accent-gray transition duration-300 ease-in-out">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col pt-8 pb-8 border-b border-b-secondary-gray">
  <h1 class="text-xl font-semibold">Password and Authentication</h1>
  <div class="mt-4 mb-4">
    <button class="rounded bg-primary-blue py-2 px-4 text-xs hover:bg-accent-blue transition duration-300 ease-in-out"
            (click)="openEditPasswordModal()">
      Change Password
    </button>
  </div>
  <div class="mt-4">
    <h1 class="text-xs font-semibold pb-2">TWO FACTOR AUTHENTICATION</h1>
    <p class="text-xs font-light pb-4">Protect your Chatty account with an extra layer of security. Once configured,
      you'll be required to enter both your password and an authenticaton code from your mobile phone in order to sign
      in.</p>
    <button class="rounded bg-primary-blue py-2 px-4 text-xs hover:bg-accent-blue transition duration-300 ease-in-out">
      Enable Two-Factor Auth
    </button>
  </div>
</div>
<div class="flex flex-col pt-8">
  <div class="mt-4">
    <h1 class="text-xs font-semibold pb-2">ACCOUNT REMOVAL</h1>
    <p class="text-xs font-light pb-4">Disabling your account means you can recover it at any time after taking this
      action.</p>
    <div class="space-x-2">
      <button
        class="rounded bg-primary-blue py-2 px-4 text-xs hover:bg-accent-blue transition duration-300 ease-in-out">
        Disable Account
      </button>
      <button
        class="rounded bg-primary-error py-2 px-4 text-xs hover:bg-accent-error transition duration-300 ease-in-out">
        Delete Account
      </button>
    </div>
  </div>
</div>

<!--editUsernameModal-->
<ng-container *ngIf="editUsernameModalState === 'open'">
  <section [ngClass]="editUsernameModalState ==='open' ? 'visible' : 'hidden'"
           class="absolute top-0 left-0 w-screen h-screen flex justify-center items-center bg-primary-black bg-opacity-95">
    <div class="flex flex-col bg-secondary-gray rounded-md">
      <div class="flex justify-end pt-6 pr-4">
        <button class="" type="button" (click)="closeEditUsernameModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="w-6 h-6 fill-accent-white"
               viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
      </div>
      <div class="">
        <div class="text-center px-12">
          <h1 class="text-xl font-semibold pb-1">Change your username</h1>
          <p class="text-sm font-thin pb-6">Enter a new username and your existing password.</p>
        </div>
        <form [formGroup]="updateUsernameForm" (ngSubmit)="onUpdateUsername()" class="w-full flex flex-col pt-4" (keydown.enter)="$event.preventDefault()">
          <div class="flex flex-col px-6 space-y-2 pb-4">
            <label class="text-xs font-semibold"
                   [ngClass]="editUsernameModalUsernameError !== null ? 'text-secondary-error': 'text-primary-white'">USERNAME
              <span class="text-xxs italic text-accent-error px-2"
                    *ngIf="editUsernameModalUsernameError!== null ">{{editUsernameModalUsernameError?.message}}</span>
            </label>
            <input type="text"
                   formControlName="username"
                   class="appearance-none focus:outline-none block bg-secondary-black w-full p-2 mb-4 text-white placeholder-white rounded-md">
          </div>
          <div class="flex flex-col px-6 space-y-2 pb-4">
            <label class="text-xs font-semibold"
                   [ngClass]="editUsernameModalPasswordError !== null ? 'text-secondary-error': 'text-primary-white'">CURRENT
              PASSWORD
              <span class="text-xxs italic text-accent-error px-2"
                    *ngIf="editUsernameModalPasswordError !== null ">{{editUsernameModalPasswordError?.message}}</span>
            </label>
            <input type="password"
                   formControlName="password"
                   class="appearance-none focus:outline-none block bg-secondary-black w-full p-2 mb-4 text-white placeholder-white rounded-md">
          </div>
          <div class="flex justify-end bg-primary-gray px-4 py-6 rounded-b-md px-6 text-sm">
            <button class="px-6 py-2 hover:underline" (click)="closeEditUsernameModal()">Cancel</button>
            <button
              [disabled]="!updateUsernameForm.valid"
              class="bg-secondary-blue px-6 py-2 rounded-md hover:bg-primary-blue transition ease-in-out duration-300">
              Done
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</ng-container>

<!--editEmailModal-->
<ng-container *ngIf="editEmailModalState === 'open'">
  <section [ngClass]="editEmailModalState ==='open' ? 'visible' : 'hidden'"
           class="absolute top-0 left-0 w-screen h-screen flex justify-center items-center bg-primary-black bg-opacity-95">
    <div class="flex flex-col bg-secondary-gray rounded-md">
      <div class="flex justify-end pt-6 pr-4">
        <button class="" type="button" (click)="closeEditEmailModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="w-6 h-6 fill-accent-white"
               viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
      </div>
      <div class="">
        <div class="text-center px-12">
          <h1 class="text-xl font-semibold pb-1">Change your email</h1>
          <p class="text-sm font-thin pb-6">Enter a new email and your existing password.</p>
        </div>
        <form [formGroup]="updateEmailForm" (ngSubmit)="onUpdateEmail()" class="w-full flex flex-col pt-4" (keydown.enter)="$event.preventDefault()">
          <div class="flex flex-col px-6 space-y-2 pb-4">
            <label class="text-xs font-semibold"
                   [ngClass]="editEmailModalEmailError !== null ? 'text-secondary-error': 'text-primary-white'">EMAIL
              <span class="text-xxs italic text-accent-error px-2"
                    *ngIf="editEmailModalEmailError!== null ">{{editEmailModalEmailError?.message}}</span>
            </label>
            <input type="email"
                   formControlName="email"
                   class="appearance-none focus:outline-none block bg-secondary-black w-full p-2 mb-4 text-white placeholder-white rounded-md">
          </div>
          <div class="flex flex-col px-6 space-y-2 pb-4">
            <label class="text-xs font-semibold"
                   [ngClass]="editEmailModalPasswordError !== null ? 'text-secondary-error': 'text-primary-white'">CURRENT
              PASSWORD
              <span class="text-xxs italic text-accent-error px-2"
                    *ngIf="editEmailModalPasswordError !== null ">{{editEmailModalPasswordError?.message}}</span>
            </label>
            <input type="password"
                   formControlName="password"
                   class="appearance-none focus:outline-none block bg-secondary-black w-full p-2 mb-4 text-white placeholder-white rounded-md">
          </div>
          <div class="flex justify-end bg-primary-gray px-4 py-6 rounded-b-md px-6 text-sm">
            <button class="px-6 py-2 hover:underline" (click)="closeEditEmailModal()">Cancel</button>
            <button
              [disabled]="!updateEmailForm.valid"
              class="bg-secondary-blue px-6 py-2 rounded-md hover:bg-primary-blue transition ease-in-out duration-300">
              Done
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</ng-container>

<!--editPasswordModal-->
<ng-container *ngIf="editPasswordModalState === 'open'">
  <section [ngClass]="editPasswordModalState ==='open' ? 'visible' : 'hidden'"
           class="absolute top-0 left-0 w-screen h-screen flex justify-center items-center bg-primary-black bg-opacity-95">
    <div class="flex flex-col bg-secondary-gray rounded-md">
      <div class="flex justify-end pt-6 pr-4">
        <button class="" type="button" (click)="closeEditPasswordModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="w-6 h-6 fill-accent-white"
               viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
      </div>
      <div class="">
        <div class="text-center px-12">
          <h1 class="text-xl font-semibold pb-1">Change your passsword</h1>
          <p class="text-sm font-thin pb-6">Enter a new password and your existing password.</p>
        </div>
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdatePassword()" class="w-full flex flex-col pt-4" (keydown.enter)="$event.preventDefault()">
          <div class="flex flex-col px-6 space-y-2 pb-4">
            <label class="text-xs font-semibold"
                   [ngClass]="editPasswordModalPasswordError !== null ? 'text-secondary-error': 'text-primary-white'">CURRENT
              PASSWORD
              <span class="text-xxs italic text-accent-error px-2"
                    *ngIf="editPasswordModalPasswordError !== null ">{{editPasswordModalPasswordError?.message}}</span>
            </label>
            <input type="password"
                   formControlName="password"
                   class="appearance-none focus:outline-none block bg-secondary-black w-full p-2 mb-4 text-white placeholder-white rounded-md"
                   (focus)="onFocus($event)">
          </div>
          <div class="flex flex-col px-6 space-y-2 pb-4">
            <label class="text-xs font-semibold"
                   [ngClass]="editPasswordModalNewPasswordError !== null ? 'text-secondary-error': 'text-primary-white'">NEW PASSWORD
              <span class="text-xxs italic text-accent-error px-2"
                    *ngIf="editPasswordModalNewPasswordError!== null ">{{editPasswordModalNewPasswordError?.message}}</span>
            </label>
            <input type="password"
                   formControlName="newPassword"
                   class="appearance-none focus:outline-none block bg-secondary-black w-full p-2 mb-4 text-white placeholder-white rounded-md"
                   (focus)="onFocus($event)">
            <div class="text-xs space-y-1 p-2 border-l-2 border-primary-gray text-accent-gray mb-4"
                 *ngIf="this.focusControl === 'newPassword'">
              <p class="pb-0.5">At least 8 chars min and 32 chars max.</p>
              <p class="pb-0.5">Must include at least one letter uppercase and lowercase.</p>
              <p class="pb-0.5">Must include at least one special chars.</p>
            </div>
          </div>
          <div class="flex flex-col px-6 space-y-2 pb-4">
            <label class="text-xs font-semibold"
                   [ngClass]="editPasswordModalConfirmPasswordError !== null ? 'text-secondary-error': 'text-primary-white'">CONFIRM
              PASSWORD
              <span class="text-xxs italic text-accent-error px-2"
                    *ngIf="editPasswordModalConfirmPasswordError !== null ">{{editPasswordModalConfirmPasswordError?.message}}</span>
            </label>
            <input type="password"
                   formControlName="confirmPassword"
                   class="appearance-none focus:outline-none block bg-secondary-black w-full p-2 mb-4 text-white placeholder-white rounded-md"
                   (focus)="onFocus($event)">
          </div>
          <div class="flex justify-end bg-primary-gray px-4 py-6 rounded-b-md px-6 text-sm">
            <button class="px-6 py-2 hover:underline" (click)="closeEditPasswordModal()">Cancel</button>
            <button
              [disabled]="!updatePasswordForm.valid"
              class="bg-secondary-blue px-6 py-2 rounded-md hover:bg-primary-blue transition ease-in-out duration-300">
              Done
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</ng-container>
