<div class="flex flex-col pb-8 border-b border-b-secondary-gray">
  <h1 class="text-xl font-semibold">My Account</h1>
  <div class="mt-4">
    <div class="bg-accent-gray h-20 rounded-t-md"></div>
    <div class="bg-primary-black rounded-b-md px-8 pt-4 space-y-4 pb-6">
      <div class="flex items-center pt-4 pb-6">
        <div class="relative">
          <img src="/assets/images/logo.png" alt="" class="w-24 h-auto rounded-full object-cover object-top">
          <span
            class="absolute bottom-0 right-0 inline-block w-7 h-7 transform translate-y-1/4 bg-primary-green rounded-full border-6 border-primary-black"></span>
        </div>
        <div class="ml-8 flex-1 flex flex-col">
          <h1 class="text-3xl font-semibold">VishaJr <span class="text-accent-gray text-lg">#25478</span></h1>
          <div class="flex justify-between">
            <p class="text-xs italic pt-2">Lorem Ipsum 20</p>
            <div class="">
              <button class="rounded bg-secondary-gray py-2 px-4 text-xs hover:bg-accent-gray transition duration-300 ease-in-out">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="w-3/4">
          <h1 class="font-semibold text-xs">USERNAME</h1>
          <h1 class="">VishaJr</h1>
        </div>
        <div class="">
          <button class="rounded bg-secondary-gray py-2 px-4 text-xs hover:bg-accent-gray transition duration-300 ease-in-out">Edit</button>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="w-3/4">
          <h1 class="font-semibold text-xs">EMAIL</h1>
          <h1 class="">VishaJr</h1>
        </div>
        <div class="">
          <button class="rounded bg-secondary-gray py-2 px-4 text-xs hover:bg-accent-gray transition duration-300 ease-in-out">Edit</button>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="w-3/4">
          <h1 class="font-semibold text-xs">PHONE NUMBER</h1>
          <h1 class="">014-9330596</h1>
        </div>
        <div class="">
          <button class="rounded bg-secondary-gray py-2 px-4 text-xs hover:bg-accent-gray transition duration-300 ease-in-out">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col pt-8 pb-8 border-b border-b-secondary-gray">
  <h1 class="text-xl font-semibold">Password and Authentication</h1>
  <div class="mt-4 mb-4">
    <button class="rounded bg-primary-blue py-2 px-4 text-xs hover:bg-accent-blue transition duration-300 ease-in-out">Change Password</button>
  </div>
  <div class="mt-4">
    <h1 class="text-xs font-semibold pb-2">TWO FACTOR AUTHENTICATION</h1>
    <p class="text-xs font-light pb-4">Protect your Chatty account with an extra layer of security. Once configured, you'll be required to enter both your password and an authenticaton code from your mobile phone in order to sign in.</p>
    <button class="rounded bg-primary-blue py-2 px-4 text-xs hover:bg-accent-blue transition duration-300 ease-in-out">Enable Two-Factor Auth</button>
  </div>
</div>
<div class="flex flex-col pt-8">
  <div class="mt-4">
    <h1 class="text-xs font-semibold pb-2">ACCOUNT REMOVAL</h1>
    <p class="text-xs font-light pb-4">Disabling your account means you can recover it at any time after taking this action.</p>
    <div class="space-x-2">
      <button class="rounded bg-primary-blue py-2 px-4 text-xs hover:bg-accent-blue transition duration-300 ease-in-out" >Disable Account</button>
      <button class="rounded bg-primary-error py-2 px-4 text-xs hover:bg-accent-error transition duration-300 ease-in-out">Delete Account</button>
    </div>
  </div>
</div>
